* {
     text-align: center;
     background-color: rgb(253, 112, 194); 
     font-style:italic;
     font-family: serif;
}

nav {
     display: grid;
     margin: 40px auto;
}

nav a{
     display: inline-block;
}
footer{
     color: brown;
}